In [1]:
#from google.colab import files
#uploaded = files.upload()

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [3]:
churnData = pd.read_csv('customer_churn.csv')
churnData.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
display(churnData['TotalCharges'].value_counts())
rows_to_drop = list(churnData[churnData['TotalCharges'] == ' '].index)
churnData.drop(churnData.index[rows_to_drop],inplace=True)
display(churnData['TotalCharges'].value_counts())
churnData['TotalCharges'] = list(map(float,churnData['TotalCharges']))

          11
20.2      11
19.75      9
19.65      8
19.9       8
          ..
374.8      1
248.4      1
1093       1
2656.5     1
8127.6     1
Name: TotalCharges, Length: 6531, dtype: int64

20.2      11
19.75      9
19.65      8
19.9       8
20.05      8
          ..
248.4      1
1093       1
2656.5     1
6521.9     1
8127.6     1
Name: TotalCharges, Length: 6530, dtype: int64

In [6]:
churnData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [7]:
churnData['Churn'].value_counts()

No     5163
Yes    1869
Name: Churn, dtype: int64

As you can see there is a huge imbalance in the representation of the two categories

In [8]:
churnData.drop(columns="customerID",inplace=True)

In [9]:
cat_cols = churnData.select_dtypes(include='object')
cat_cols.head()

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,No
1,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,No
2,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,Yes
3,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),No
4,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,Yes

One hot enconding

In [10]:
churnData['gender'] = np.where(churnData['gender'] == 'Male',1,0)
my_cols = ['Partner','Dependents','PhoneService','OnlineSecurity','OnlineBackup','DeviceProtection',
           'TechSupport','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']

for col in my_cols:
  churnData[col] = np.where(churnData[col] == 'Yes',1,0)

churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,No phone service,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,No
1,1,0,0,0,34,1,No,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.50,No
2,1,0,0,0,2,1,No,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,Yes
3,1,0,0,0,45,0,No phone service,DSL,1,0,1,0,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,No
4,0,0,0,0,2,1,No,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,Yes

In [11]:
cat = pd.get_dummies(churnData[['MultipleLines', 'InternetService', 'Contract', 'PaymentMethod']], drop_first=True)
cat.head()

,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,1
2,0,0,0,0,0,0,0,0,1
3,1,0,0,0,1,0,0,0,0
4,0,0,1,0,0,0,0,1,0

In [12]:
lab = churnData[['gender','Partner','Dependents','PhoneService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']]
num = churnData.select_dtypes(include=['float64','int64'])
X = pd.concat([num,lab,cat], axis=1, sort=False)
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,PaperlessBilling,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0
1,1,0,0,0,34,1,1,0,1,0,...,0,0,0,0,0,1,0,0,0,1
2,1,0,0,0,2,1,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,1,0,0,0,45,0,1,0,1,0,...,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0

In [13]:
y = pd.DataFrame(data=churnData, columns=['Churn'])
transformer = StandardScaler().fit(X)
scaled_x = transformer.transform(X)

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(scaled_x, y, test_size=0.3, random_state=100)

In [15]:
classification = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X_train, y_train)
y_pred = classification.predict(X_test)
print("The accuracy of the logistic_regression model is: %4.2f "% (classification.score(X_test, y_test)))

The accuracy of the logistic_regression model is: 0.80

With this imbalance, when we tried to fit the model it still gave us an accuracy of 80%

In [16]:
y.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

Note: Even if we just blindly say that each prediction is **No**, we would still get an accuracy of

In [17]:
print("The accuracy of a blind guess is: %4.2f " % (5163/(5163+1869)))

The accuracy of a blind guess is: 0.73

In [18]:
from sklearn.metrics import cohen_kappa_score

print("The kappa of the logistic regression model is: %4.2f " %(cohen_kappa_score(y_pred,y_test)) )

The kappa of the logistic regression model is: 0.47

# Lets increase the imbalance and see how the model works

In [19]:
data = pd.concat([X,y], axis=1, sort=False)
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
0,0,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,No
1,1,0,0,0,34,1,1,0,1,0,...,0,0,0,0,1,0,0,0,1,No
2,1,0,0,0,2,1,1,1,0,0,...,0,0,0,0,0,0,0,0,1,Yes
3,1,0,0,0,45,0,1,0,1,0,...,1,0,0,0,1,0,0,0,0,No
4,0,0,0,0,2,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,Yes

In [20]:
yes = data[data['Churn']=='Yes']
no = data[data['Churn']=='No']
yes = yes.sample(500)

In [21]:
data = pd.concat([yes,no], axis=0)
print(data['Churn'].value_counts())
data.head()

No     5163
Yes     500
Name: Churn, dtype: int64

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
6365,1,1,1,0,7,1,0,0,1,0,...,0,1,1,0,0,0,0,1,0,Yes
4687,1,0,1,0,22,1,0,0,1,0,...,0,0,1,0,0,0,1,0,0,Yes
4924,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,Yes
6131,0,1,0,0,47,1,0,1,0,0,...,0,1,1,0,0,0,0,1,0,Yes
3834,0,0,1,1,57,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,Yes

In [22]:
#shuffling the data
data = data.sample(frac=1)
data['Churn'].value_counts()

No     5163
Yes     500
Name: Churn, dtype: int64

In [23]:
X = data.drop('Churn', axis=1)
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,PaperlessBilling,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
6249,1,0,0,0,3,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
4228,1,0,1,1,1,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
5110,0,0,0,0,8,1,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
3082,1,0,0,0,51,1,1,0,0,0,...,0,0,1,0,0,1,0,1,0,0
2881,0,0,1,0,31,1,1,0,0,0,...,1,0,0,0,0,1,0,0,1,0

In [24]:
y = data['Churn']
transformer = StandardScaler().fit(X)
scaled_x = transformer.transform(X)

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(scaled_x, y, test_size=0.3, random_state=100)

In [26]:
classification = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X_train, y_train)
y_pred = classification.predict(X_test)
print("The accuracy of the logistic_regression model is: %4.2f "% (classification.score(X_test, y_test)))

The accuracy of the logistic_regression model is: 0.91

In [27]:
from sklearn.metrics import cohen_kappa_score

print("The kappa of the logistic regression model is: %4.2f " %(cohen_kappa_score(y_pred,y_test)) )

The kappa of the logistic regression model is: 0.16

Despite the advantage of balancing classes, these techniques also have their weaknesses (there is no free lunch). The simplest implementation of over-sampling is to duplicate random records from the minority class, which can cause overfitting. In under-sampling, the simplest technique involves removing random records from the majority class, which can cause loss of information.

In [28]:
counts = churnData['Churn'].value_counts()
yes = churnData[churnData['Churn']=='Yes'].sample(counts[0], replace=True)
no = churnData[churnData['Churn']=='No']
data = pd.concat([yes,no], axis=0)
data = data.sample(frac=1)
data['Churn'].value_counts()

Yes    5163
No     5163
Name: Churn, dtype: int64

In contrast, before we had.

In [29]:
counts = churnData['Churn'].value_counts()
counts

No     5163
Yes    1869
Name: Churn, dtype: int64

In [30]:
cat = pd.get_dummies(data[['MultipleLines', 'InternetService', 'Contract', 'PaymentMethod']], drop_first=True)
lab = data[['gender','Partner','Dependents','PhoneService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']]
num = data.select_dtypes(include=['float64','int64'])
X = pd.concat([num,lab,cat], axis=1, sort=False)
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,PaperlessBilling,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
6664,0,0,0,0,36,1,0,1,1,0,...,1,0,1,1,0,1,0,0,0,0
2990,1,0,0,0,10,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
327,0,1,0,0,2,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
3499,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
5415,0,0,0,0,18,1,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0

In [31]:
transformer = StandardScaler().fit(X)
scaled_x = transformer.transform(X)
y = data['Churn']

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(scaled_x, y, test_size=0.3, random_state=100)

In [33]:
classification = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X_train, y_train)
y_pred = classification.predict(X_test)
print("The accuracy of the logistic_regression model is: %4.2f "% (classification.score(X_test, y_test)))

The accuracy of the logistic_regression model is: 0.75

In [34]:
from sklearn.metrics import cohen_kappa_score

print("The kappa of the logistic regression model is: %4.2f " %(cohen_kappa_score(y_pred,y_test)) )

The kappa of the logistic regression model is: 0.50

Other more sophisticated resampling techniques include:

Cluster the records of the majority class, and do the under-sampling by removing records from each cluster, thus seeking to preserve information. 
In over-sampling, instead of creating exact copies of the minority class records, we can introduce small variations into those copies, creating more diverse synthetic samples.

In [ ]:
#pip install imblearn

In [35]:
cat = pd.get_dummies(churnData[['MultipleLines', 'InternetService', 'Contract', 'PaymentMethod']], drop_first=True)
lab = churnData[['gender','Partner','Dependents','PhoneService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']]
num = churnData.select_dtypes(include=['float64','int64'])
X = pd.concat([num,lab,cat], axis=1, sort=False)
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,PaperlessBilling,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,0
1,1,0,0,0,34,1,1,0,1,0,...,0,0,0,0,0,1,0,0,0,1
2,1,0,0,0,2,1,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,1,0,0,0,45,0,1,0,1,0,...,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0

In [36]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler

# Downsampling
rus = RandomUnderSampler() 
transformer = StandardScaler().fit(X)
X = transformer.transform(X)
y = churnData['Churn']
X_rus, y_rus = rus.fit_sample(X, y)

In [37]:
y.value_counts()

No     5163
Yes    1869
Name: Churn, dtype: int64

In [38]:
y_rus = pd.DataFrame(data=y_rus.flatten())
y_rus.value_counts()

AttributeError: 'Series' object has no attribute 'flatten'

In [ ]:
transformer = StandardScaler().fit(X_rus)
X = transformer.transform(X_rus)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y_rus, test_size=0.3, random_state=100)

In [ ]:
classification = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X_train, y_train)
y_pred = classification.predict(X_test)
print("The accuracy of the logistic_regression model after undersampling is: %4.2f "% (classification.score(X_test, y_test)))

In [ ]:
from sklearn.metrics import cohen_kappa_score

print("The kappa of the logistic regression model after undersampling is: %4.2f " %(cohen_kappa_score(y_pred,y_test)) )

In [ ]:
cat = pd.get_dummies(churnData[['MultipleLines', 'InternetService', 'Contract', 'PaymentMethod']], drop_first=True)
lab = churnData[['gender','Partner','Dependents','PhoneService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']]
num = churnData.select_dtypes(include=['float64','int64'])
X = pd.concat([num,lab,cat], axis=1, sort=False)
X.head()

In [ ]:
ros = RandomOverSampler()
#X = churnData[['tenure', 'SeniorCitizen','MonthlyCharges']]
transformer = StandardScaler().fit(X)
X = transformer.transform(X)
y = churnData['Churn']
X_ros, y_ros = ros.fit_sample(X, y)

In [ ]:
y.value_counts()

In [ ]:
y_ros = pd.DataFrame(data=y_ros.flatten())
y_ros.value_counts()

In [ ]:
transformer = StandardScaler().fit(X_ros)
X = transformer.transform(X_ros)

In [ ]:
classification = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr').fit(X_train, y_train)
y_pred = classification.predict(X_test)
print("The accuracy of the logistic_regression model after oversampling is: %4.2f "% (classification.score(X_test, y_test)))

In [ ]:
from sklearn.metrics import cohen_kappa_score

print("The kappa of the logistic regression model after undersampling is: %4.2f " %(cohen_kappa_score(y_pred,y_test)) )

### Synthetic Minority Oversampling TEchnique (SMOTE)

In [ ]:
cat = pd.get_dummies(churnData[['MultipleLines', 'InternetService', 'Contract', 'PaymentMethod']], drop_first=True)
lab = churnData[['gender','Partner','Dependents','PhoneService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']]
num = churnData.select_dtypes(include=['float64','int64'])
X = pd.concat([num,lab,cat], axis=1, sort=False)
X.head()

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

transformer = StandardScaler().fit(X)
X = transformer.transform(X)
y = churnData['Churn']
X_sm, y_sm = smote.fit_sample(X, y)
y_sm = pd.DataFrame(data=y_sm.flatten())
y_sm.value_counts()

### UnderSampling using TomekLinks

Tomek links are pairs of very close instances, but of opposite classes. Removing the instances of the majority class of each pair increases the space between the two classes, facilitating the classification process.

In [ ]:
from imblearn.under_sampling import TomekLinks

tl = TomekLinks('majority')
X_tl, y_tl = tl.fit_sample(X, y)
y_tl = pd.DataFrame(data=y_tl.flatten())
y_tl.value_counts()

In [ ]:
X_tl2, y_tl2 = tl.fit_sample(X_tl, y_tl)
y_tl2 = pd.DataFrame(data=y_tl2.flatten())
y_tl2.value_counts()

In [ ]:
# It does not make the two classes equal but only removes the points from the majority 
# class that are close to other poitns in minority class

In [ ]:
# Similar way it works for multi label classification models 
# But it can be a little tricky

In [ ]:
transformer = StandardScaler().fit(X)
X = transformer.transform(X)
y = churnData['Churn']

In [ ]:
y[6000:7000] = 'Hello'
y.value_counts()

In [ ]:
tl = TomekLinks('majority')
X_tl, y_tl = tl.fit_sample(X, y)
y_tl = pd.DataFrame(data=y_tl.flatten())
y_tl.value_counts()

In [ ]:
X_sm, y_sm = smote.fit_sample(X, y)
y_sm = pd.DataFrame(data=y_sm.flatten())
y_sm.value_counts()